figure {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
/*UJ*/
html#WithExtension {
    font-family: Helvetica, Arial;
    font-weight: 100;
}
#container #main_all,
#container .lista_all,
#container .fobox_all,#container .fobox_all_alone {
    width: 100%;
} 
.lista_all:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.lista_all ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.movie-list > li {
    float: left;
    width: 100%;
}
.movie {
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    margin: 2px;
    padding-top: 130%;
}
.movie:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 4px;
    box-shadow: 0 0 2px rgba(42, 42, 42, 0.72) inset;
    border: 1px solid rgba(255, 255, 255, .2);
    box-sizing: border-box;
}
.movie figure {
    -webkit-transition: .3s;
    transition: .3s;
    margin: 0;
    width: 100%;
    position: absolute;
    top: 0;
}
.movie figure:after {
    content: "";
    position: absolute;
    bottom: 1px;
    left: 1px;
    right: 1px;
    height: 70px;

    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 90%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(90%,rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 90%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 90%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 90%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
    border-radius: 0 0 3px 3px;
}
.movie figure:before {
    content: "";
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 1px;
    right: 1px;
    border-radius: 2px;
    background: rgba(0,0,0,0);
    -webkit-transition: .3s;
    transition: .3s;
}
.movie figure > img{
    width: 100%;
    height: 100%;
}

.movie h4 {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
}
.movie h3 {
    margin: 0;
    font-size: 12px;
    font-weight: normal;
}
.movie-details {
    color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
    font-size: 12px;
}
.movie-details .torrent-spec {
    font-size: 10px;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: .3s;
    transition: .3s;
}

.movie-list .movie:hover figure:before {
    background: rgba(0,0,0,0.5);
}
.movie:hover .movie-details .torrent-spec {
    max-height: 200px;
}


@media only screen and (min-width: 250px) and (max-width: 409px)
{
    .movie-list > li {
        width: 50%;
    }
}

@media only screen and (min-width: 410px) and (max-width: 494px)
{
    .movie-list > li {
        width: 33.3%;
    }
}

@media only screen and (min-width: 495px) and (max-width: 604px)
{
    .movie-list > li {
        width: 25%;
    }
}
@media only screen and (min-width: 605px) and (max-width: 784px)
{
    .movie-list > li {
        width: 20%;
    }
}

@media only screen and (min-width: 785px) and (max-width: 949px)
{
    .movie-list > li {
        width: 16.6%;
    }
}

@media only screen and (min-width: 950px) and (max-width: 1250px)
{
    .movie-list > li {
        width: 12.5%;
    }
}

@media only screen and (min-width: 1251px) and (max-width: 1556px)
{
    .movie-list > li {
        width: 11.1%;
    }
}

@media only screen and (min-width: 1557px) and (max-width: 1862px)
{
    .movie-list > li {
        width: 10%;
    }
}

@media only screen and (min-width: 1863px)
{
    .movie-list > li {
        width: 9.09%;
    }
}

/* Details */
#MovieDetails {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.8);
    color: #ffffff;
    font-size: 1.3em;
}
#MovieDetails figure {
    float: left;
}
#MovieDetails .movie-info {
    margin-left: 180px;
}
#MovieDetails .movieDetails {
    padding: 40px;
}